[2014-02-28 18:17] kytrinyx opened #1 "Implement Perl 6 exercises"
Copied from exercism/exercism.io#1028

- [ ] bob
- [ ] rna-transcription
- [ ] word-count
- [ ] anagram
- [ ] beer-song
- [ ] nucleotide-count
- [ ] point-mutations
- [ ] phone-number
- [ ] grade-school
- [ ] robot-name
- [ ] etl
- [ ] leap
- [ ] space-age
- [ ] grains
- [ ] gigasecond
- [ ] triangle
- [ ] scrabble-score
- [ ] roman-numerals
- [ ] binary
- [ ] prime-factors
- [ ] raindrops

[2014-08-17 00:52] kytrinyx opened #4 "Recommend a linter for Perl?"
This may or may not be appropriate in this language. See exercism/docs#54 for details.

[2014-08-17 00:53] kytrinyx opened #5 "Create a getting started page for perl6"
There's one for Perl5 already: https://github.com/exercism/docs/blob/master/app/pages/languages/getting-started-with-perl5.md

[2014-08-31 19:18] kytrinyx opened #6 "Delete configlet binaries from history?"
I made a really stupid choice a while back to commit the cross-compiled
binaries for configlet (the tool that sanity-checks the `config.json`
against the implemented problems) into the repository itself.

Those binaries are HUGE, and every time they change the entire 4 or 5 megs get
recommitted. This means that cloning the repository takes a ridiculously long
time.

I've added a script that can be

[2014-09-27 15:55] kytrinyx opened #9 "Name nucleobases, not nucleosides"
In other words, we should rename the values in the RNA transcription problem to reflect the following:
- `cytidine` -> `cytosine`
- `guanosine` -> `guanine`
- `adenosine` -> `adenine`
- `thymidine` -> `thymine`
- `uridine` -> `uracil`

[2014-10-19 23:50] #6 closed, assigned to nobody

[2014-12-04 14:31] kytrinyx opened #10 "How to set up a local dev environment"
See issue exercism/exercism.io#2092 for an overview of operation welcome contributors.

---

Provide instructions on how to contribute patches to the exercism test suites
and examples: dependencies, running the tests, what gets tested on Travis-CI,
etc.

The [contributing document](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md)
in the x-api repository describes how all the language

[2015-03-16 13:01] kytrinyx opened #11 "Add helpful information to the SETUP.md"
The contents of the SETUP.md file gets included in
the README.md that gets delivered when a user runs the `exercism fetch`
command from their terminal.

At the very minimum, it should contain a link to the relevant
language-specific documentation on
[help.exercism.io](http://help.exercism.io).

It would also be useful to explain in a generic way how to run the tests.
Remember that this file will b

[2016-01-21 00:55] kytrinyx opened #24 "Move exercises to subdirectory"
The problems api (x-api) now supports having exercises collected in a subdirectory
named `exercises`.

That is to say that instead of having a mix of `bin`, `docs`, and individual exercises,
we can have `bin`, `docs`, and `exercises` in the root of the repository, and all
the exercises collected in a subdirectory.

In other words, instead of this:

[code]

we can have something like this:

[code]

[2016-03-20 22:59] roseaboveit commented on #1
@kytrinyx It appears as though the checklist above could use an update as some of the exercises do appear to be in the code base for Perl6.

[2016-03-21 11:55] kytrinyx commented on #1
Good point. Check out https://github.com/exercism/discussions/issues/1

[2016-04-02 17:20] kytrinyx opened #26 "Verify that nothing links to help.exercism.io"
The old help site was deprecated in December 2015. We now have content that is displayed on the main exercism.io website, under each individual language on http://exercism.io/languages.

The content itself is maintained along with the language track itself, under the `docs/` directory.

We decided on this approach since the maintainers of each individual language track are in the best position to

[2016-04-02 22:05] kytrinyx commented on #1
We have a new process that you can use to find exercises to implement.
You can read all about it [here](https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#porting-an-exercise-to-another-language-track).

I'm closing this issue in favor of the process described in the Contributing guide linked to above.

Thanks!

[2016-04-02 22:05] #1 closed

[2016-04-06 23:54] kytrinyx commented on #26
Don't mind me.

I'm adding a reference so we get a visual "todo" list in the top level issue,
https://github.com/exercism/todo/issues/181

[2016-04-07 02:38] kytrinyx opened #27 "scrabble-score: replace 'multibillionaire' with 'oxyphenbutazone'"
The word _multibillionaire_ is too long for the scrabble board. _Oxyphenbutazone_, on the other hand, is legal.

Please verify that there is no test for _multibillionaire_ in the scrabble-score in this track. If the word is included in the test data, then it should be replaced with _oxyphenbutazone_. Remember to check the case (if the original is uppercase, then the replacement also should be).

I

[2016-04-07 02:48] kytrinyx opened #28 "binary: improve tests for invalid numbers"
We should have separate tests for:

- alphabetic characters at the beginning of a valid binary number
- alphabetic characters at the end of a valid binary number
- alphabetic characters in the middle of an otherwise valid binary number
- invalid digits (e.g. 2)

If the test suite for binary has test cases that cover these edge cases, this issue can safely be closed.

See https://github.com/exercis

[2016-04-07 02:58] kytrinyx opened #29 "rna-transcription: don't transcribe both ways"
I can't remember the history of this, but we ended up with a weird non-biological thing in the RNA transcription exercise, where some test suites also have tests for transcribing from RNA back to DNA. This makes no sense.

If this track does have tests for the reverse transcription, we should remove them, and also simplify the reference solution to match.

If this track doesn't have any tests for

[2016-04-07 17:02] duffn commented on #26
There are no references to help.exercism.io in this repository.

[2016-04-07 17:17] #26 closed

[2016-04-25 18:07] kytrinyx opened #30 "Launch Checklist"
In order to launch we should:

- [ ] Turn on Travis CI for the track
- [ ] Add Perl 6 as a submodule in [x-api](https://github.com/exercism/x-api/tree/master/problems)
- [ ] Implement at least 10 problems
- [ ] Write documentation (see below)
- [ ] Find a person or (ideally) a handful of people willing to check exercism regularly (daily?) to review solutions
- [ ] Add track implementors and other

[2016-05-19 21:07] #27 closed

[2016-06-13 14:18] kytrinyx opened #33 "Copy track icon into language track repository"
Right now all of the icons used for the language tracks (which can be seen at http://exercism.io/languages) are stored in the exercism/exercism.io repository in `public/img/tracks/`. It would make a lot more sense to keep these images along with all of the other language-specific stuff in each individual language track repository.

There's a pull request that is adding support for serving up the t

[2016-07-17 01:11] kytrinyx commented on #28
Closing. https://github.com/exercism/x-common/issues/279

[2016-07-17 01:11] #28 closed

[2016-08-18 19:26] kytrinyx opened #36 "Update config.json to match new specification"
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. As a result, the progression of the exercises has been somewhat haphazard.

In the past few months maintainers of several tracks have invested a great deal of time in analyzing what concepts various exercises require, and then reordering the tracks as a result of that analysis.

It would be us

[2016-11-17 07:22] tejasbubane commented on #33
Can be closed by #34

[2016-11-17 11:14] mienaikage commented on #29
This issue can be closed I believe. It doesn't look like the test does anything for RNA->DNA.

[2016-11-17 20:41] mienaikage commented on #30
`test_pattern` included in https://github.com/exercism/xperl6/pull/42

[2016-11-20 14:15] kytrinyx commented on #29
Thank you :heart: @mienaikage!

[2016-11-20 14:15] #29 closed

[2016-11-20 14:15] kytrinyx commented on #33
:heart: thanks @tejasbubane!

[2016-11-20 15:33] kytrinyx opened #43 "Investigate track health and status of the track"
I've used Sarah Sharp's [FOSS Heartbeat](https://github.com/sarahsharp/foss-heartbeat) project to generate stats for each of the language track repositories, as well as the x-common repository.

The Exercism heartbeat data is published here: https://exercism.github.io/heartbeat/

When looking at the data, please disregard any activity from me (`kytrinyx`), as I would like to get the language track

[2016-11-21 18:07] mienaikage commented on #43
Endangered.

2 merged PRs from 1 person in the last year. Latest was in March. (excluding @kytrinyx).

I'd be happy to jump in and help, but had only started getting into Perl 6 this month (I usually work in Perl 5).

[2016-11-23 17:54] kytrinyx commented on #43
@mienaikage Thank you! I'd love help on this, and will give you commit to the @exercism/perl team which gives you access to both of the perl tracks.

I've got some bits and pieces of documentation that I've been putting together here, which may be helpful: https://github.com/exercism/exercism.io/tree/master/docs in particular the [maintaining a track](https://github.com/exercism/exercism.io/blob/m

[2016-11-23 17:54] #43 closed

[2016-11-24 19:01] #33 closed

[2016-11-24 19:08] mienaikage commented on #24
https://github.com/exercism/xperl6/pull/45

[2016-11-24 19:36] #24 closed

[2016-11-24 23:01] mienaikage commented on #11
Added in https://github.com/exercism/xperl6/pull/48

[2016-11-24 23:11] mienaikage commented on #9
Changed in https://github.com/exercism/xperl6/pull/49

[2016-11-24 23:12] mienaikage commented on #5
Seems these pages are deprecated, is this still needed?

[2016-11-24 23:39] mienaikage commented on #4
Details are in a deprecated repo. Is this still needed?

[2016-11-25 18:02] #11 closed

[2016-11-25 18:04] #9 closed

[2016-11-25 18:05] kytrinyx commented on #5
These are deprecated. We should make sure that we've got the correct documentation in the `docs/` directory in this repo. That should be documented in the Launch Checklist #30

[2016-11-25 18:05] #5 closed

[2016-11-25 18:06] kytrinyx commented on #4
Probably not. This has been superseded by the `docs/` directory in this repository, and we have the open Launch Checklist in #30 that covers it.

[2016-11-25 18:06] #4 closed

[2016-12-08 20:02] kotp opened #63 "Create generator for tests"
This will have the advantage of directly using the canonical data in [x-common](https://github.com/exercism/x-common).

An example of doing this can be found with the Go and Ruby tracks.

[Go executable](https://github.com/exercism/xgo/blob/master/gen/gen.go)
[Go test helper](https://github.com/exercism/xgo/blob/master/bin/test-without-stubs)

[ruby generate executable](https://github.com/exercism

[2016-12-16 18:46] kytrinyx opened #69 "Verify contents and format of track documentation"
Each language track has documentation in the `docs/` directory, which gets included on the site
on each track-specific set of pages under [/languages](http://exercism.io/languages).

We've added some general guidelines about how we'd like the track to be documented in exercism/exercism.io#3315
which can be found at https://github.com/exercism/exercism.io/blob/master/docs/writing-track-documentatio

[2017-01-18 17:50] zoffixznet opened #75 "Exercises are too hard too use"
From [what I understand](https://irclog.perlgeek.de/perl6/2017-01-18#i_13946017) the exercises fetch only the test file and the readme and are missing the module file.

For beginners, it's very confusing how to write the code to solve the challenge.

Please include more files/instructions for beginners who don't necessarily know what a module is.

[2017-01-18 17:53] WildYorkies opened #76 "Create module files for exercises that already have the test file and module linked"
All other languages I've used on Exercism include a readme, a test file, and a module that has the boilerplate code sketched out for you.

In order to make these ultra beginner friendly, the module files should be included.

As-is, a beginner like myself would have to go through a whole tutorial on how .t files work and how the module system works in order to just work on a challenge.

[2017-01-18 17:57] WildYorkies opened #77 "Include a "How to run tests" section in the readme file"
For example, include something like

[code]

[2017-01-18 17:58] zoffixznet commented on #75
Dupe of #76 Please see that one.

[2017-01-18 17:58] #75 closed

[2017-01-19 22:16] kotp commented on #76
@WildYorkies would it be sufficient to do this for the first 2 or maybe 5 exercises, and assume after that, the "pattern" has been established?

[2017-01-19 22:21] kotp commented on #77
This information should be appending to the README that gets delivered...

[code]

@mienaikage did this stop happening?  (I will hopefully be able to look at this tomorrow or Saturday.)

[2017-01-19 23:03] WildYorkies commented on #76
@kotp I think that would be fine, indeed. Do you think the file should start as a class? Or could it start as a module itself? If you use classes, you'd be forcing people into an OOP style of solution, I suppose.

You'd want the file to show best practices at least. For example, for the Bob one, I guess you'd put something like the following in the exercise file

[code]

[2017-01-19 23:05] WildYorkies commented on #77
@kotp I may have just missed that portion. My mistake. However, it could be worth mentioning the option to use prove as well. @zoffixznet showed me that.

[2017-01-20 11:35] kotp commented on #76
There is a lot of suggestions in what you are stating.  I think this can be simplified in providing a "Hello World" exercise as the first exercise, and then the "good parts" are delivered and information relayed before getting hit with something as complex as the Bob exercise.

I have heard you... and I am moving this up on my todo list.

[2017-01-20 11:37] kotp commented on #77
@WildYorkies would you like to work on a pull request for this documentation addition?

[2017-01-21 02:30] WildYorkies commented on #77
@kotp I actually can't locate the Readme file that contains that text. I see it in a different location. Do you think the readme that the user receives is a compilation of a number of different files?

[2017-01-21 09:43] kotp commented on #77
Yes @WildYorkies it is something that is put together in various places.

But I think [this is the file you are looking for](https://github.com/exercism/xperl5/blob/master/README.md).

[2017-01-21 16:04] WildYorkies commented on #77
@kotp Thanks for pointing that out. I think I'll have to wait until the exercise file is included though. For example, the .t file does a check for `if you have an env named EXERCISE else use bob.pm6` or something. So I'm not sure how that should be referenced in the README

[2017-01-23 11:47] mienaikage commented on #76
@WildYorkies Thanks for the input. Having some boilerplate for a few of the initial exercises is something I'd like to see and plan to include. I've been either busy or away from home from the new year until now, but intend to continue making improvements to this repo where I can.

[2017-01-27 00:02] mienaikage commented on #77
https://github.com/exercism/xperl6/pull/82

[2017-02-01 21:51] mienaikage commented on #76
I've created a PR for the hello-world exercise. It includes a stub file and I believe it should be straight-forward enough for a first exercise. There are also some optional tests, marked as 'TODO', if the person doing the exercise wishes to add a little more complexity.

PR is here: https://github.com/exercism/xperl6/pull/78

I'd prefer to have exercises with both modules and classes for some var

[2017-02-01 22:27] WildYorkies commented on #76
@mienaikage Agreed. I think it's silly to make a classes for many of these.

Perhaps the default file that we include should be a module. Then the user can optionally define a class within if they prefer?

[2017-02-01 23:06] mienaikage opened #85 "Evaluate our use of `plan` and `done-testing`"
As I am not very fond of telling people how to do things, nor am I in any sort of position to do so(!) I would like to have a discussion as to how we should go forward with the use of `plan` and `done-testing` in tests, and hopefully we can decide on a standard way of using them.

In my opinion:

1. We should not include `done-testing`.
`plan` already results in `done-testing` running. If `done-te

[2017-02-01 23:21] mienaikage commented on #76
It sounds like a good idea, but it could make writing tests for these exercises trickier. I might investigate what the tests would need to accommodate for doing it both ways.

[2017-02-01 23:27] WildYorkies commented on #76
@mienaikage What if the only thing you required in the solution was a MAIN.

That way, all of the tests would just be done by passing various arguments to MAIN. Beyond that, the learner could use any abstraction they wanted.

And at the same time, they'd be able to iteratively test their script from the command line as they go just by calling their own script. Then they can call the test file to m

[2017-02-01 23:35] mienaikage commented on #77
I made a few changes in https://github.com/exercism/xperl6/pull/84, as I'd like to use 'TODO' for some optional tests, and it's A LOT clearer that these tests did not fail when using `prove`.

I also moved the `.` to the middle of the command to make it a little more obvious. Someone new to it may assume that it's a typo at the end.

[2017-02-02 00:19] mienaikage commented on #76
I'm not too familiar with MAIN, but it could be worth giving it a go in one or two exercises and seeing how well it works.

[2017-02-02 00:43] yanick commented on #85
I am a little bit of a pragmatic wrt test plan vs done-testing, my views are:

1. if you know the number of tests, put it. If you have a huge test file where a lot of funny things like non-deterministic number of tests can happen, the number of test cases will also help you. If the test file has a handful of tests, `done-testing` is already good enough -- a specific `test plan` is a cherry on top.

[2017-02-02 23:19] kotp commented on #77
Looks good, I think this is done.

[2017-02-02 23:19] #77 closed

[2017-02-03 20:42] mienaikage opened #87 "Move JSON into tests"
It occurred to me that to be able to run some of the test suites properly, the user either must fetch the exercise themselves, or find the files from the repository.

There is a 'Test Suite' page on the Exercism site, but it is unusable if an exercise uses a separate JSON file e.g. http://exercism.io/exercises/perl6/atbash-cipher/test-suite

[2017-02-03 20:46] mienaikage commented on #87
It shouldn't be too hard to make these changes. Instead of using the line:
[code]
We can copy the data from the JSON file and use:
[code]

[2017-02-03 21:53] mienaikage commented on #87
Changes in https://github.com/exercism/xperl6/pull/88

[2017-02-04 12:18] mienaikage commented on #87
Instead of having the cases in the middle of the file, I made some changes so that the JSON could be at the bottom of the file and out of the way of the tests:
[code]

[2017-02-04 16:31] mienaikage commented on #85
With 2 maybe, if you're certain that you haven't made any mistakes when modifying the JSON. I think of it as more what you did do (for better or worse) rather than what you wanted to do.

For 3, now that you mention it, I can see the value of `done-testing` in some cases, particularly with the changes I'm making re: https://github.com/exercism/xperl6/issues/87

[2017-02-04 18:26] mienaikage opened #91 "Update docs/TESTS.md to line up with SETUP.md"
The instructions aren't currently in line with SETUP.md so I'd like to make some improvements for consistency.

[2017-02-05 11:03] mienaikage commented on #91
Changes in https://github.com/exercism/xperl6/pull/92

[2017-02-05 17:42] mienaikage commented on #87
Changed sub to INIT phaser.

[2017-02-05 20:07] yanick commented on #85
For 2 there is also the caveat that it depends of what the actual situation is. If the json used is a huge thing used by other pieces of software and things could get mixed up, yeah, that's one thing. But if we're dealing with a simple file used for only the test at hand, it's a much simpler kettle of fish.

For 3, yup, #88 is a good example of what I mean. It's nothing world-changing, but it's a

[2017-02-05 21:56] mienaikage commented on #30
@kytrinyx Could you add me to the perl 6 track mentors on the site?

[2017-02-05 22:46] mienaikage commented on #63
Recently I've been putting code in exercises to allow as much interchangeability as possible. We can likely use it in a generator.

[code]
It should be possible to drop this into any test with only a change to `$exercise`, and `$version` for any updates.

[code]
For modules with subroutines. Only `@subs` needs changing here and will check all the subroutines needed in the exercise are present. We

[2017-02-08 21:26] #91 closed

[2017-02-10 19:06] #87 closed

[2017-02-12 23:08] kytrinyx commented on #30
Done!

[2017-03-04 02:24] WildYorkies commented on #76
@mienaikage I like what you've done so far. I think you can merge them all.

I'd like to see comments in the first exercises test file that explains what everything in that file is _for_, but I can submit a PR for that after you merge.

[2017-03-16 09:45] #85 closed

[2017-03-23 18:52] mienaikage commented on #69
Did some cleaning up of the track docs in https://github.com/exercism/xperl6/pull/119

[2017-03-23 19:05] mienaikage commented on #76
I've merged a few and added some more PRs. All exercises should have module files included now (with at least a unit class/module line included).

Also updated a whole bunch to use the most recent tests from x-common canonical data.

[2017-03-23 19:43] #76 closed

[2017-03-27 12:49] mienaikage commented on #63
I've created a working example which is coming along nicely so far 🙂

[2017-03-28 15:48] mienaikage commented on #63
The script could use some improvements in terms of user friendliness, but I believe it is functionally sound. I've added the generator and template in https://github.com/exercism/xperl6/pull/124, along with a handful of yaml files for some exercises, which all give functional test files when put through the generator.

[2017-04-02 07:48] mienaikage commented on #63
Added in https://github.com/exercism/xperl6/pull/124.

[2017-04-02 07:48] #63 closed

[2017-04-03 04:40] kotp commented on #63
There is another issue tied to this Epic @mienaikage should it also be closed then, or is this epic not completed quite yet?

[2017-04-03 07:35] mienaikage commented on #63
Oh? What's the issue?

[2017-04-04 02:08] kotp commented on #63
#36  I think.

[2017-04-04 08:45] mienaikage commented on #36
Still need to adjust difficulty but I have done some reshuffling of exercise order in https://github.com/exercism/xperl6/pull/121

[2017-04-04 15:59] kytrinyx opened #132 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-04 23:00] kotp commented on #132
The labels `pinned` and `security` have been created.

[2017-04-04 23:01] kotp commented on #10
Pinning this...

[2017-04-04 23:02] kotp commented on #69
Pinning this as well.

[2017-04-04 23:02] kotp commented on #132
Pinned a couple that need to be here until track is ready to be in "active" state.

[2017-04-05 18:59] kytrinyx commented on #132
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-06 02:08] #132 closed

[2017-05-07 00:54] #69 closed

[2017-05-07 01:57] mienaikage commented on #30
I think the track is in a good state for becoming active at this point. Hopefully when it does it'll attract a few more contributors to the repository 🙂

[2017-05-12 01:01] mienaikage commented on #30
Created PR https://github.com/exercism/xperl6/pull/158 for toggling `active` to `true`

[2017-05-19 18:21] kytrinyx commented on #30
@mienaikage Do you go to any Perl 6 meetups or hang out in any Perl 6 forums or chatrooms? If so, would you see if you can entice anyone else to come help keep an eye on things here (review PRs, discuss issues) and/or on the website (give people feedback)? If we could get 2 or 3 people involved, that would ensure that people can have vacations and babies and mid-life crises without the track suffe

[2017-05-20 01:11] mienaikage commented on #30
There is the [#perl6 IRC channel](http://webchat.freenode.net/?channels=perl6&nick=), I'll let people on there know that the track is going live and see if I can tempt a few people to jump on.

There's also a Perl social in London coming up on 8th June so I may go along to that.

[2017-05-20 16:39] kytrinyx commented on #30
Both of those sound great!

[2017-05-20 21:53] kotp commented on #30
Not to mention the [Gitter Room on Exercism for perl!](https://gitter.im/exercism/xperl), but I want to...

[2017-05-23 08:18] mienaikage commented on #30
Posted on the IRC and the Perl 6 Facebook group. The site also got a mention in the [Perl 6 weekly](https://p6weekly.wordpress.com/2017/05/22/2017-21-yap6b/) blog 🙂

[2017-05-23 11:24] mienaikage opened #164 "Add Perl 6 syntax highlighting on exercism.io"
Currently, there is no highlighting for Perl 6 code on exercism.io. It appears that exercism.io is using [Rouge](https://github.com/jneen/rouge):
https://github.com/exercism/exercism.io/blob/master/lib/exercism/syntax_highlighter.rb

Perhaps it would be possible to port from [pygments](https://bitbucket.org/hoelzro/pygments-main/src/92f4deeaa28215ee58779aa496e44af7f1ab1343/pygments/lexers/perl.py?

[2017-05-24 15:19] kytrinyx commented on #30
Very cool!

[2017-06-06 16:15] mienaikage commented on #164
There's an existing issue to add support for Perl 6 in https://github.com/jneen/rouge/issues/390

[2017-06-08 21:48] kotp commented on #164
Is highlighting at the exercism/exercism.io repository level?

[2017-06-10 17:45] kytrinyx commented on #164
If the track ID doesn't match the language name in jneen/rouge, then we need to add it to the map of ids to rouge names: https://github.com/exercism/exercism.io/blob/master/lib/exercism/syntax_highlighter.rb#L6-L16

[2017-06-20 08:38] mienaikage opened #178 "Link to Gitter room no longer works"
Either the URL needs to be changed back to `xperl`, or the room itself needs to be renamed. Is the latter doable?

[2017-06-20 17:47] kotp commented on #178
Completed, even brought current members with.

[2017-06-20 17:47] #178 closed

[2017-10-08 09:04] #36 closed

[2017-12-14 19:00] #164 closed

[2018-01-16 15:37] kotp opened #251 "Update ABOUT.md so that it complies with meta#85"
Re: exercism/meta#85

In summary, ABOUT.md should now only use:

- Bold
- Italics
- Links
- Bullet lists
- Number lists
- Each sentence should be on its own line
- Paragraphs separated by an empty line
- Explicit <br/> used to split a paragraph into lines without spacing between them (discouraged).

[2018-01-17 11:08] mienaikage commented on #251
PR in https://github.com/exercism/perl6/pull/252

[2018-01-17 15:13] #251 closed

[2018-01-17 15:13] kotp commented on #251
Thank you @mienaikage

[2018-06-02 23:00] kytrinyx opened #289 "Where are the Perl 6 communities and enthusiasts?"
As we move towards the launch of the new version of Exercism we are going to be ramping up on actively recruiting people to help provide feedback.

Our goal is to get to 100%: everyone who submits a solution and wants feedback should get feedback. Good feedback. You can read more about this aspect of the new site here: http://mentoring.exercism.io/

To do this, we're going to need a lot more infor

[2018-06-12 02:48] kytrinyx opened #292 "Ensure Perl 6 track is ready for v2 launch"
There are a number of things we're going to want to check before the v2 site goes live. There are notes below that flesh out all the checklist items.

- [x] The track has a page on the v2 site: https://v2.exercism.io/tracks/perl6
- [x] The track page has a short description under the name (not starting with `TODO`)
- [x] The "About" section is a friendly, colloquial, compelling introduction
- [x]

[2018-06-15 03:09] kotp commented on #292
Is there a different code example that we want to use for this?  Right now it scrolls both horizontally, and veritically.

[2018-06-15 19:35] h-m-m commented on #289
In re popular conferences, I'm familiar with [The Perl Conference](https://perlconference.us)
The conference has been co-organized by local Perlmonger groups, more information about those user groups at https://www.pm.org/
Perlmonger groups are under the umbrella of The Perl Foundation http://www.perlfoundation.org/

I don't know Perl well enough anymore to be a mentor, and I stopped before Perl 6

[2018-06-16 16:34] kytrinyx commented on #289
Thanks @h-m-m!

[2018-06-19 20:23] kytrinyx commented on #289
I've got what I need for now; closing this out. Thank you! 🌼

[2018-06-19 20:23] #289 closed

[2018-06-24 20:39] mienaikage commented on #289
* Are there popular newsletters for Perl 6?
https://p6weekly.wordpress.com/

* Do you know of specific communities (online or offline) that are enthusiastic about Perl 6? (Chat communities, forums, meetups, student clubs, etc)
https://www.reddit.com/r/perl6/
The perl6 IRC and mailing list found here: https://perl6.org/community/

[2018-07-11 15:34] mienaikage commented on #292
@kotp Which browser are you using? I've looked on Firefox + Chrome for both desktop and mobile and the code example looks to be [displaying correctly](https://s15.postimg.cc/596s0cmiz/Firefox_Screenshot_2018-07-11_T15-25-34.998_Z.png) for me.

PR https://github.com/exercism/perl6/pull/230 was created a while ago for marking exercises as core and adding difficulty, but it became stale. The branch s

[2018-07-12 00:31] kotp commented on #292
Chrome-stable as of that date.

[2018-07-12 16:57] mienaikage commented on #292
Exercises marked as `core` in PR https://github.com/exercism/perl6/pull/294

[2018-07-20 18:28] trosel opened #297 "The test file for Hello World is overly confusing and can turn off newcomers"
Compare Python's Hello World test file https://github.com/exercism/python/blob/master/exercises/hello-world/hello_world_test.py

To Perl 6's https://github.com/exercism/perl6/blob/master/exercises/hello-world/hello-world.t

Is there anyway to simplify Perl 6's testing files? Ideally, a test file that a student downloads would teach them how to set up a test. This file is sort of unreadable.

`is h

[2018-07-21 14:49] mienaikage commented on #297
PR open @ https://github.com/exercism/perl6/pull/298

[2018-07-21 15:15] sarna opened #299 "JSON::Fast required for Hello World"
Is JSON::Fast really needed for testing hello world? If so, at least tell the user that they need to obtain it and explain how to do it (ie with zef).

[2018-07-21 16:06] WildYorkies commented on #299
You can add that thought here https://github.com/exercism/perl6/issues/297

[2018-07-21 16:18] WildYorkies commented on #297
What if we shortened the entire thing to:

[code]

[2018-07-21 16:38] mienaikage commented on #299
JSON::Fast is included with Rakudo Star, an end user should not need to install this separately?

[2018-07-21 17:16] mienaikage commented on #297
The absence of `use lib` is not ideal as it would require the user to set PERL6LIB themselves.

There is an existing PR to remove versioning @ https://github.com/exercism/perl6/pull/228, the reason it was there originally is because if a test file were changed, and someone attempted to run it against an older solution, comments would be made regarding failing tests. When a test is run the version

[2018-07-21 17:30] sarna commented on #299
Hmm, I have Rakudo Star installed, and still didn't have JSON::Fast. Maybe my Rakudo Star is borked.
Anyway, maybe we still could include a line like "if testing doesn't seem to work, do `zef install JSON::Fast`?

[2018-07-21 17:48] mienaikage commented on #299
Possibly, but we would need to write something more specific than 'if testing doesn't seem to work' for something like this. Furthermore, a borked installation may be a potentially larger issue that needs to be addressed for Perl 6.

Did you install Rakudo Star via https://rakudo.org/files? What output do you get when running `perl6 -v`?

[2018-07-21 17:55] sarna commented on #299
"If Rakudo complains about lack of JSON::Fast during testing"?
I've installed Rakudo with this: https://github.com/nxadm/rakudo-pkg

[2018-07-21 18:40] mienaikage commented on #299
Ah I see. rakudo-pkg is not Rakudo Star, as only the Rakudo compiler and the Zef package manager are included with this.

I can look into adding some troubleshooting steps, but I'd advise against new users going for alternative installation methods, as some will *just* be the Rakudo compiler i.e. no Zef or modules or documentation. The installation instructions on the track are for Rakudo Star and

[2018-07-27 12:47] mienaikage commented on #299
Changes in PR https://github.com/exercism/perl6/pull/306 and https://github.com/exercism/perl6/pull/305

[2018-08-03 16:13] jackhughesweb opened #307 "Fix getting started instructions for perl6"
Some exercise README templates contain links to pages which no longer exist in v2 Exercism.

For example, C++'s README template had a link to /languages/cpp for instructions on running tests. The correct URLs to use can be found in the 'Still stuck?' sidebar of exercise pages on the live site. You'll need to join the track and go to the first exercise to see them.

Please update any broken links i

[2018-08-06 08:50] mienaikage commented on #307
Looks like there aren't any links that need fixing in this one. Closing.

[2018-08-06 08:50] #307 closed

[2018-08-19 18:57] kytrinyx opened #309 "Remove obsolete version tracking assertions in exercises"
Some tracks have added assertions to the exercise test suites that ensure that the solution has a hard-coded version in it.
In the old version of the site, this was useful, as it let commenters see what version of the test suite the code had been written against, and they wouldn't accidentally tell people that their code was wrong, when really the world had just moved on since it was submitted.

I

[2018-08-20 09:31] mienaikage commented on #309
Removed in PR https://github.com/exercism/perl6/pull/228

[2018-08-20 09:31] #309 closed

[2018-12-30 17:22] #297 closed, assigned to nobody

[2019-08-03 18:20] kytrinyx opened #345 "Create stub files for all exercises"
We have decided to require all file-based tracks to provide stubs for their exercises.

The lack of stub file generates an unnecessary pain point within Exercism, contributing a significant proportion of support requests, making things more complex for our students, and hindering our ability to automatically run test-suites and provide automated analysis of solutions.

We believe that it’s essenti

[2019-08-08 13:27] mienaikage commented on #345
All exercises *should* already have a stub but I need to go through and check to be sure.

[2019-08-09 07:54] mienaikage commented on #345
Looks like all indeed have stubs, closing.

[2019-08-09 07:54] #345 closed

[2019-10-03 11:58] ErikSchierboom opened #350 "What was it like to learn Perl 6?"
We’ve recently [started a project](https://exercism.io/blog/redesigning-tracks-in-partnership-with-chicago-university-and-sloan-foundation) to find the best way to design our tracks, in order to optimize the learning experience of students.

As a first step, we’ll be [examining the ways in which languages are unique and the ways in which they are similar](https://github.com/exercism/exercism/issue

[2019-10-23 19:15] mienaikage opened #352 "Change track name to Raku"
As of October 2019, Perl 6 has officially been renamed Raku.

https://github.com/perl6/problem-solving/blob/master/solutions/language/Path-to-Raku.md

[2019-11-08 04:07] petertseng commented on #350
I only looked at four exercises (and one of them was hello-world), so this is a limited answer based just on what was encountered in those four.

Of the "For Newcomers" section listed in https://raku.org/resources, I think https://perl6intro.com/ was what worked for me.

After that, I took a look at each page under "Fundamental Topics" in https://docs.perl6.org/language.html, a few of them stood o

[2020-01-09 14:57] kytrinyx opened #388 "Recruiting additional maintainers for Raku"
We're about to start a big push towards version 3 (v3) of Exercism. This is going to be a really exciting step forward for Exercism, with in-browser coding, new Concept Exercises with automated feedback, improved mentoring and much more.

This to be a big community effort, with the work spread out among hundreds of volunteers across Exercism. One key thing is going to be each track having enough m

[2020-01-13 21:22] kotp commented on #388
@exercism/perl6 @exercism/website-copy-perl6 Anyone?

@kytrinyx should we make changes for the group/team names to Raku ask well? At the moment, they are as above in the first line of this comment.

[2020-01-13 21:51] iHiD commented on #388
Good point. Done.

[2020-01-13 21:55] kotp commented on #388
Thank you @iHiD

[2020-01-16 10:33] mienaikage commented on #388
I'm happy to help but will be busy throughout February so currently unsure of how much time I'll be able to commit at the moment. More likely to have free time March onwards!

[2020-10-07 23:50] #352 closed

[2020-10-15 08:34] ErikSchierboom opened #400 "Moving from Travis to GitHub Actions"
Hello 🙂

Over the last few months we've been transferring all our CI from Travis to [GitHub Actions (GHA)](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions). We've found that GHA are easier to work with, more reliable, and much much faster.

Based on our success with GHA and increasing intermittent failures on Travis, we have now decided to try and remove Travis from Ex

[2020-10-22 06:45] ErikSchierboom commented on #400
Thanks to @SleeplessByte, we now have a really nice document and some starting workflows that you can use to help switch to GitHub Actions: https://github.com/exercism/problem-specifications/tree/master/workflows#workflow-templates

[2020-10-25 11:36] #400 closed

[2020-10-30 22:41] mienaikage opened #430 "Review request"
Hello @exercism/reviewers,

The Raku repository has a large number of pull requests that require reviews. Almost all of them are JSON changes via the exercise generator, with very little Raku code changes, so I'm hoping they'll all be fairly straightforward!

[2020-10-31 01:23] ekingery commented on #430
I'm working through these now. I'll leave the GitHub Actions change for someone else to verify. It looks fine, but I'd like another set of eyes on it as I'm not very familiar with GH Actions. The rest of the code looks good so far, changes are all consistent. @mienaikage , thanks for taking this on! I coded perl professionally many years ago, glad to see this track get some attention!

[2020-10-31 01:32] ekingery commented on #430
Calling @iHiD, I'm on the reviewers team, but it appears my approvals are not sufficient for merging (see #407). Could you advise or fix me up with the correct permissions?

[2020-10-31 01:48] iHiD commented on #430
Should be now! :)

[2020-10-31 01:54] ekingery commented on #430
Looks good, thanks!

[2020-10-31 02:31] ekingery commented on #430
I think we should be all set here, let me know if I missed any. I'll check in on #406 early next week.

[2020-10-31 02:31] #430 closed

[2020-10-31 02:39] iHiD commented on #430
Thanks @ekingery!

[2021-01-07 14:39] ErikSchierboom opened #438 "[Important] The current website is about to enter maintenance mode to aid with v3 launch"
**TL;DR;** At the end of Jan 2021, all tracks will enter v3 staging mode. Updates will no longer sync with the current live website, but instead sync with the [staging website](https://exercism.lol/). The Raku section of the v3 repo will be extracted and PR'd into this track (if appropriate). Further issues and information will follow over the coming weeks to prepare Raku for the launch of v3.

Ov

[2021-01-28 19:42] FCO opened #439 "[v3] Is there any way I can help on raku track?"

[2021-01-29 09:25] ErikSchierboom commented on #438
As of today, the website has entered maintenance mode.

[2021-01-29 14:52] ErikSchierboom opened #441 "[v3] Configure online editor"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, students can now choose to work on exercises directly from their browser, instead of having to download exercises to their local machine. The track-specific settings for the in-browser editor are defined in the top-level `"online_editor"`

[2021-01-29 14:53] ErikSchierboom opened #442 "Add key features"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, each track must specify exactly six "key features". Exercism uses these features to highlight the most interesting, unique or "best" features of a language to a student.

Key features are specified in the top-level `"key_features"` field

[2021-01-29 14:53] ErikSchierboom opened #443 "[v3] Add tags"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, tracks can be annotated with tags. This allows searching for tracks with a certain tag combination, making it easy for students to find an interesting track to join.

Tags are specified in the top-level `"tags"` field in the track's `conf

[2021-01-29 14:53] ErikSchierboom opened #444 "[v3] Add prerequisites to Practice Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Exercism v3 introduces a new type of exercise: [Concept Exercises](https://github.com/exercism/v3-docs/blob/main/product/concept-exercises.md). All existing (V2) exercises will become [Practice Exercises](https://github.com/exercism/v3-docs/blob/main/pro

[2021-01-29 14:53] ErikSchierboom opened #445 "[v3] Pass linting checks"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

The [configlet tool](https://github.com/exercism/canonical-data-syncer) has a `lint` command that checks if a track's configuration files are properly structured - both syntactically and semantically. Misconfigured tracks may not sync correctly, may look

[2021-01-29 14:53] ErikSchierboom opened #446 "[v3] Build Test Runner"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, one of the biggest changes is that we'll automatically check if a submitted solution passes all the tests.

We'll check this via a new, track-specific tool: the [Test Runner](https://github.com/exercism/v3-docs/tree/main/anatomy/track-too

[2021-01-29 14:53] ErikSchierboom opened #447 "Build Representer and Analyzer"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

## Representer

In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/v3-docs/tree/main/anatomy/track-tooling/representers). The goal of the representer is to take a solution and returning a representation

[2021-01-29 14:53] ErikSchierboom opened #448 "[v3] Update status of track"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

There are several new features in Exercism v3 for tracks to build. To selectively enable these features on the Exercism v3 website, each track must keep track of the status of the following features:

- [Concept Exercises](https://github.com/exercism/v3-

[2021-01-29 14:53] ErikSchierboom opened #449 "Update status of Concept Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Concept Exercises can have a status specified in their `"status"` field in their `config.json` entry, as specified in [the spec](https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/config-json.md#concept-exercises). This status can be one of fou

[2021-01-29 14:53] ErikSchierboom opened #450 "[v3] Launch Tracker 🔴"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

To get your track ready for Exercism v3, the following needs to be done:

- [ ] [Configure online editor](https://github.com/exercism/raku/issues/441)
- [ ] [Add key features](https://github.com/exercism/raku/issues/442)
- [ ] [Add tags](https://github.c

[2021-02-10 08:41] ErikSchierboom commented on #445
⚠ The original issue did not explain that currently only a subset of the linting rules have been implemented. This means that while your track may be passing the checks at this moment, it might fail later. We (the Exercism team) thus strongly suggest you keep this issue open until we let you know otherwise. The issue's text has been updated to reflect this.

[2021-02-10 09:14] ErikSchierboom commented on #444
⚠ The spec for Practice Exercises has changed. Besides having a `prerequisites` field, each Practice Exercise should now also have a `practices` field, which should list the slugs of Concepts that this Practice Exercise actively allows a student to practice. See [the spec](https://github.com/exercism/docs/blob/main/anatomy/tracks/practice-exercises.md#practices) for more information.

The issue's

[2021-04-08 18:47] m-dango commented on #441
I'm happy to stick with 4 spaces for now. I'm not sure if Raku has a generally accepted style, but I imagine it would inherit a similar style to Perl.

[2021-04-08 18:47] #441 closed

[2021-05-20 11:57] #292 closed

[2021-06-30 14:50] ErikSchierboom commented on #443
Closing this as tags have been defined for this track.

[2021-06-30 14:50] #443 closed

[2021-07-02 09:49] exercism-bot opened #486 "🤖 Sync error for commit 9ec57c"
We hit an error trying to sync the latest commit (9ec57c6a3b52bf1e8779a40a55af018f4afea4d8) to the website.

The error was:
[code]

Please tag @iHiD if you require more information.

[2021-07-02 11:10] #486 closed

[2021-07-14 13:32] ErikSchierboom opened #491 "Extract track-specific help instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to get help. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/help.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the readme template

[2021-07-14 13:32] ErikSchierboom opened #492 "Extract track-specific test instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to manually run the tests. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/tests.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the r

[2021-08-18 10:03] ErikSchierboom commented on #449
Closing this as this track has no (active) Concept Exercises

[2021-08-18 10:03] #449 closed

[2021-08-18 14:44] ErikSchierboom opened #493 "Build representer"
In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/docs/blob/main/building/tooling/representers/README.md). The goal of the representer is to take a solution and returning a representation, which is an extraction of a solution to its essence with normalized names, comments, spacing, etc. but still uniquely identifying the approach taken. Two diff

[2021-08-18 15:10] ErikSchierboom commented on #447
We're closing this issue as two separate issues have been created to replace this combined issue.

[2021-08-18 15:10] #447 closed

[2021-08-19 12:51] #491 closed

[2021-08-19 12:51] #492 closed

[2021-08-20 10:48] ErikSchierboom opened #495 "Check docs are up to date"
Please check if your documentation files are still up-to-date.

The key documentation files to check are:

- `docs/ABOUT.md`
- `docs/INSTALLATION.md`
- `docs/LEARNING.md`
- `docs/RESOURCES.md`
- `docs/TESTS.md`
- `exercises/shared/.docs/help.md`
- `exercises/shared/.docs/tests.md`

There might be more.

## Link check report

To help identify invalid links, we've automatically checked the links of

[2021-09-02 13:10] ErikSchierboom commented on #388
We're closing this issue as it was part of our push to implement the v3 version of this track and v3 has [just been released](https://exercism.org/blog/exercism-v3-has-launched).

New maintainer are always welcome though!

[2021-09-02 13:10] #388 closed

[2021-09-02 13:13] ErikSchierboom commented on #350
We're closing this issue as it was part of our research for the v3 version of Exercism which has [just been released](https://exercism.org/blog/exercism-v3-has-launched).

Thanks everyone for chipping in! It has been greatly appreciated.

[2021-09-02 13:13] #350 closed

[2021-09-02 13:18] ErikSchierboom commented on #438
With Exercism v3 [just being released](https://exercism.org/blog/exercism-v3-has-launched), tracks are no longer in maintenance mode and are active again.
This means that changes made to this track will once again show on the website.

Thanks for being patient with us and enjoy Exercism v3!

[2021-09-02 13:18] #438 closed

[2022-04-08 13:39] ErikSchierboom opened #506 "CI is failing"
Currently, the CI is failing due to the generator detecting a mismatch: https://github.com/exercism/raku/runs/5847984377?check_suite_focus=true

[2022-05-29 01:49] m-dango commented on #506
#504 and #509 should resolve this.

[2022-06-18 13:36] #506 closed

[2022-06-24 20:38] habere-et-dispertire commented on #164
Raku syntax highlighting appears sometimes off.

Strangely not in the web editor but in published solutions.

For an example, look at lines 4-5 of [this Luhn solution](https://exercism.org/tracks/raku/exercises/luhn/solutions/habere-et-dispertire). It appears the regex containing `<digit>` throws things out of kilter.

[2022-06-25 13:45] habere-et-dispertire opened #520 "[Syntax highlighting] Hyphen in quote words"
Raku syntax highlighting appears confused when a hyphen appears in a quote words:

[code]

[2022-06-25 16:55] m-dango commented on #520
From what I can gather, codemirror does not yet support Raku, and is using the syntax highlighting for Perl as a placeholder. I've made a note of it in https://github.com/Raku/raku-most-wanted/issues/50 and may look into adding support at some point.

[2022-06-25 18:05] habere-et-dispertire commented on #520
Not sure if this helps, but pandoc's raku syntax highlighting appears to use [skylighting](https://github.com/jgm/skylighting), which in turn takes from [KDE's syntax highlighting](https://github.com/KDE/syntax-highlighting).

[2022-06-26 00:47] kotp commented on #164
@habere-et-dispertire can you open a new issue?  This one is for "no highlighting" as opposed to broken highlighting.

[2022-06-26 00:48] kotp commented on #164
There is a related issue upstream https://github.com/rouge-ruby/rouge/issues/390

[2022-06-26 00:54] habere-et-dispertire commented on #164
New Issue [#520 ](https://github.com/exercism/raku/issues/520).

[2022-06-26 02:12] kotp commented on #164
Nice, thanks for the breadcrumbs.

[2022-06-30 23:00] habere-et-dispertire opened #531 "[Suggestion] Rename the Beer Song to Ten Green Bottles"
Please consider that the normalization of excessive alcohol consumption is a systemic issue. I ask for a greater awareness around alcoholism. I feel a broader sensitivity toward alcohol consumption per se is warranted (eg for alcoholics in remission, survivors of alcoholic abuse and for Muslim learners on Exercism).

The original song is apparently [Ten Green Bottles](https://en.wikipedia.org/wiki

[2022-07-04 10:16] m-dango commented on #442
Done in https://github.com/exercism/raku/pull/533

[2022-07-04 10:16] #442 closed

[2022-08-11 14:01] masukomi opened #546 "Help.md problems with prove6 & test files"
the instructions in `Help.md` say

which is accurate, but there are two problems

1. the period is easy to miss, and can be interpreted as the ending of the prior sentence.
2. `prove6` shouldn't need to be passed a `.` because

Building on this, after reading [the current Raku documentation about writing tests](https://docs.raku.org/language/testing), the convention appears to be to use the `.t` e

[2022-08-18 09:41] m-dango commented on #546
Hi @masukomi

Both `.rakutest` and `.t` are supported, `.rakutest` being the newer one, to go alongside `.raku` and `.rakumod`:
https://github.com/Raku/problem-solving/blob/master/solutions/language/Path-to-Raku.md#extensions
https://github.com/Leont/app-prove6/blob/master/Changes#L15

The issue you're encountering is that the default behavior of prove6 expects the tests to be in a directory calle

[2022-08-19 12:14] m-dango commented on #546
I've opened pull request #547 for making changes to the docs. I have also noticed that the latest version of prove6 has addressed the `Invalid input` error, which should likely be included with future versions of Rakudo Star.

[2022-08-21 23:39] #546 closed

[2022-08-26 00:16] masukomi commented on #546
Thanks @m-dango  that's much clearer. :D